@{
    ViewBag.Title = "HomePage";
}

<main role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide" src="../../Dummy Data/problem.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1><u>Problems Statements</u></h1>
                        <h3>&bull; Increasing needs of organizational cooperation</h3>
                        <h3>&bull; Business proposal submission takes time</h3>
                        <h3>&bull; No single platform to hold all company information</h3>

                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="second-slide" src="../../Dummy Data/solution.jpg" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1><u>Existing Solution</u></h1>
                        <h3>&bull;</h3>
                        <h3>Find company contact in yellow page</h3>
                        <h3>&bull;</h3>
                        <h3>Asking Google</h3>
                        <h3>&bull;</h3>
                        <h3>Direct visit to company website</h3>
                        
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="third-slide" src="../../Dummy Data/objective.jpg" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1><u>Objective Website</u></h1>
                        <h3>Easy interaction between company and company &bull;</h3>
                        <h3>Reduce expense for requesting some documents of company &bull;</h3>
                        <h3>Easy to find business partner or company &bull;</h3>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4 shrink">
                <img class="rounded-circle" src="~/Dummy Data/vaifat.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Vaifat Huy</h2>
                <h4>Analysis and Coding</h4>
            </div>
            <div class="col-lg-4 shrink">
                <img class="rounded-circle" src="~/Dummy Data/mike.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Van AnnAnn</h2>
                <h4>Analysis and Coding</h4>
            </div>
            <div class="col-lg-4 shrink">
                <img class="rounded-circle" src="~/Dummy Data/pheng.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Ouk Keapheng</h2>
                <h4>Designing and Coding</h4>
            </div>
        </div>
        <!-- START THE FEATURETTES -->
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 shrink">
                <img class="rounded-circle" src="~/Dummy Data/sokun.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Kean Sokun</h2>
                <h4>Designing and Testing</h4>
            </div>
            <div class="col-lg-4 shrink">
                <img class="rounded-circle" src="~/Dummy Data/huy.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Kreang Menghuy</h2>
                <h4>Designing and Testing</h4>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading dynamic">Easy Search. Easy Cooperate.</h2>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="~/Dummy Data/Untitled-1.png" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading dynamic">Provide information profile to account holders</h2>

            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="~/Dummy Data/Untitled-3.png" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading dynamic">Contain detail information for each company</h2>

            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="~/Dummy Data/Untitled-2.png" alt="Generic placeholder image">
            </div>
        </div>

    </div><!-- /.container -->


</main>